{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('../static/img/quote-bg.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Listado de {{model}}</h2>
              {% if result %}
                <h3 class="text-light">{{result}}</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Route Listing Section ======= -->
    <section id="route-listing" class="route-listing">
      <div class="container" data-aos="fade-up">
        <div class="row gy-3">
          {% for route in routes %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="route-item">
                  <h5>Origen:</h5>
                  <h6> {{ route.source }} </h6> 
                  <h5>Destino:</h5> 
                  <h6>{{ route.destination }}</h6> 
                  <h4>
                    <sup></sup><h5>Costo: ${{ route.fixed_freight_cost }}</h5> <br>
                    <span><h5>Tipo de transporte:</h5> <h6>{{ route.get_travel_mode_display }}</h6></span>
                  </h4>
                  <div class="py-3">
                    <ul class="list-unstyled">
                    <li>
                      <i class="bi bi-truck"></i> Transportista: {{ route.carrier }}
                    </li>
                    <li>
                      <i class="bi bi-calendar2-check"></i> Tiempo de Tránsito: {{ route.transit_time }} horas
                    </li>
                    <!-- Add more details as needed -->
                  </ul>
                  <div class="btn-group">
                    <a href="{% url 'core:route-update' route.id %}" class="btn btn-outline-warning m-1">Editar</a>
                    <a href="{% url 'core:route-delete' route.id %}" class="btn btn-outline-danger m-1">Eliminar</a>
                  </div>
                </div>
                  
              </div>
            </div><!-- End Pricing Item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- End Route Listing Section -->
  </main><!-- End #main -->
{% endblock content %}