{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% comment %} <style>
    .order-card {
        background-color: #0056b3; /* Color azul */
        color: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }
    .order-card:hover {
        transform: scale(1.03);
    }
    .order-card h3 {
        font-size: 1.5em;
    }
    .order-card h4 {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    .order-card ul {
        list-style: none;
        padding: 0;
    }
    .order-card ul li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .order-card ul li i {
        margin-right: 10px;
    }
    .order-card .buy-btn {
        background-color: white;
        color: #0056b3;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid white;
        transition: background-color 0.3s, color 0.3s;
    }
    .order-card .buy-btn:hover {
        background-color: #0056b3;
        color: white;
        border-color: #0056b3;
    }
</style> {% endcomment %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('../static/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Listado de Ordenes</h2>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          {% for order in orders %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing-item">
                <h3>Orden #{{ order.id }}</h3>
                <h4><sup>$</sup>{{ order.value }}<span> / {{ order.commodity }}</span></h4>
                <ul>
                  <li>
                    <i class="bi bi-arrow-right"></i> Origen: {{ order.ship_from }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Destino: {{ order.ship_to }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Volumen: {{ order.volume }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Fecha: {{ order.date }}
                  </li>
                </ul>
                <a href="{% url 'core:order-update' order.id %}" class="btn btn-outline-warning m-1">Editar</a>
                <a href="{% url 'core:order-delete' order.id %}" class="btn btn-outline-danger m-1">Eliminar</a>
                <a href="{% url 'core:order-optimize' order.id %}" class="btn btn-outline-success btn-optimized m-1">Optimizar Ruta</a>
                
                {% if order.optimized %}
                <!-- Rutas optimizadas -->
                <div class="">
                  <!-- Contenido del cuadro adicional -->
                  <h5 class="mt-3">Rutas óptimas</h5>
                  <ul>
                    {% for r in order.optimized.to_list %}
                    <li>
                      <i class="bi bi-arrow-right"></i>{{r.id }}
                      <i class="{{r.icon}}"></i>
                    </li>
                    {% comment %} (1)Date: 2018-02-01  From: Singapore Warehouse  To: Malaysia Warehouse  By: Truck
(2)Date: 2018-02-02  From: Malaysia Warehouse  To: Malaysia Port  By: Truck
(3)Date: 2018-02-03  From: Malaysia Port  To: Shanghai Port  By: Sea
(4)Date: 2018-02-10  From: Shanghai Port  To: Shanghai Warehouse  By: Truck
(5)Date: 2018-02-11  From: Shanghai Warehouse  To: Wuxi Warehouse  By: Truck {% endcomment %}
                    {% endfor %}
                  </ul>
              </div>
              {% endif %}
              </div>
            </div>
            <!-- End Pricing Item -->
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Pricing Section -->
  </main>
  <!-- End #main -->
{% endblock %}

{% block javascript %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock javascript %}
