{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('../static/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Listado de Órdenes</h2>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          {% for order in orders %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing-item">
                <h3>Orden #{{ order.id }}</h3>
                <h4><sup>$</sup>{{ order.value }}<span> / {{ order.commodity }}</span></h4>
                <ul>
                  <li>
                    <i class="bi bi-arrow-right"></i> Origen: {{ order.ship_from }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Destino: {{ order.ship_to }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Fecha: {{ order.date }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Fecha de entrega requerida: {{ order.required_delivery_date }}
                  </li>
                  <li>
                    <i class="bi bi-arrow-right"></i> Porcentaje de impuesto: {{ order.tax_percentage }}
                  </li>
                </ul>
                <a href="{% url 'core:order-update' order.id %}" class="btn btn-outline-warning m-1">Editar</a>
                <a href="{% url 'core:order-delete' order.id %}" class="btn btn-outline-danger m-1">Eliminar</a>
                <a href="{% url 'core:order-optimize' order.id %}" class="btn btn-outline-success btn-optimized m-1">Optimizar Ruta</a>
                
                {% if order.optimized and order.optimized.solved %}
                  <!-- Rutas optimizadas -->
                  <div class="">
                    <h3 class="mt-5">Ruta óptima:</h3>
                    <ul>
                      {% for r in order.optimized.to_list %}
                      <li>
                        <h5 class="mx-2 text-secondary"><strong>({{ r.id }})</strong><h5>
                        <i class="{{ r.icon }}"></i>  Fecha: {{ r.date }} <br> Desde: {{ r.origin }} <br> Hasta: {{ r.destination }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% elif order.optimized %}
                  <div class="alert alert-danger mt-4" role="alert">
                    {{ order.optimized.routes }}
                  </div>
            {% endif %}

              </div>
            </div>
            <!-- End Pricing Item -->
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Pricing Section -->
  </main>
  <!-- End #main -->

{% endblock %}

{% block javascript %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock javascript %}
